@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Everdawn is web viewer application for 3D buildings </h3>

<p> <span> Everdawn</span>is web viewer application for 3D buildings </p>




<style>

body { background-image: url("1.jpg"); border: 0px; margin: 0px; padding: 0px; }

</style>
